body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(218, 44%, 22%);
    font-family: "Outfit", serif;
}
img{
    height: 300px;
    width: 100%;
    border-radius: 20px;
}

.innerBox{
    min-height: 400px;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    /* background: hsl(216, 15%, 48%); */
    background: hsl(212, 45%, 89%);
}

h2, p{
    text-align: center;
}

p{
    font-size: 15px;
}

@media screen and (min-width: 400px) {
    .innerBox{
        max-width: 300px;
    }
}


