body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background: hsl(0, 0%, 100%);
}
img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.attribution {
    font-size: 11px;
    text-align: end;
    width: 100%;
    height: 5%;
    padding: 0 35px 0 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.innerBox{
    background: hsl(212, 45%, 89%);
    /* box-shadow: 300px red; */
    width: 100%;
    width: 80%;
    height: 90%;
    border: 5px;
    align-items: center;
}

.qrCodeBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}
.qrCodeBox > div{
    height: 90%;
    width: 25%;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 5px;
}
.qrImage{
    height: 60%;
    width: 100%;
}
.qrText{
    text-align: center;
    word-break: keep-all;
}

.secAbsolute{
    position: absolute;
    top: 200px;
    left: 0;
    height: 150px;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;

}

.secAbsolute span{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: hsl(228, 45%, 44%);
}